<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <PublishProtocol>FileSystem</PublishProtocol>
        <Platform>x64</Platform>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <WindowsPackageType>None</WindowsPackageType>
        <WindowsAppSDKSelfContained>true</WindowsAppSDKSelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishReadyToRun>false</PublishReadyToRun>
        <PublishTrimmed>false</PublishTrimmed>
    </PropertyGroup>
</Project>
